{# Remixicons #}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.5.0/remixicon.css">

{# CSS principal #}
<link rel="stylesheet" href="{{ asset('navbar/css/styles.css') }}">

{# SCSS compilé #}
<link rel="stylesheet" href="{{ asset('navbar/scss/main.scss') }}">

<!--==================== HEADER ====================-->
<header class="nav-header">
    <nav class="nav-navigation nav-container">
        <a href="{{ path('app_home') }}" class="nav-navigation__logo">
            <img src="{{ asset('navbar/img/E-SPORTIFY.png') }}" alt="E-SPORTIFY">
        </a>

        <div class="nav-navigation__menu" id="nav-menu">
            

            <!-- Close button -->
            <div class="nav-navigation__close" id="nav-close">
                <i class="ri-close-line"></i>
            </div>
        </div>

        <div class="nav-navigation__actions">
            <!-- Login button -->
            <a href="{{ path('app_sign_in') }}" class="nav-navigation__login">
                <i class="ri-login-box-line"></i>
                <span>Connexion</span>
            </a>

            <!-- Toggle button -->
            <div class="nav-navigation__toggle" id="nav-toggle">
                <i class="ri-menu-line"></i>
            </div>
        </div>
    </nav>
</header>

<script src="{{ asset('navbar/js/main.js') }}" defer></script>