<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}

    <link href="https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">

    <!-- Css Styles -->
   <link rel="stylesheet" href="{{ asset('frontOffice/css/bootstrap.min.css') }}" type="text/css">
<link rel="stylesheet" href="{{ asset('frontOffice/css/font-awesome.min.css') }}" type="text/css">
<link rel="stylesheet" href="{{ asset('frontOffice/css/elegant-icons.css') }}" type="text/css">
<link rel="stylesheet" href="{{ asset('frontOffice/css/owl.carousel.min.css') }}" type="text/css">
<link rel="stylesheet" href="{{ asset('frontOffice/css/magnific-popup.css') }}" type="text/css">
<link rel="stylesheet" href="{{ asset('frontOffice/css/slicknav.min.css') }}" type="text/css">
<link rel="stylesheet" href="{{ asset('frontOffice/css/style.css') }}" type="text/css">

        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}

               <script src="{{ asset('frontOffice/js/jquery-3.3.1.min.js') }}"></script>
<script src="{{ asset('frontOffice/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('frontOffice/js/jquery.magnific-popup.min.js') }}"></script>
<script src="{{ asset('frontOffice/js/mixitup.min.js') }}"></script>
<script src="{{ asset('frontOffice/js/masonry.pkgd.min.js') }}"></script>
<script src="{{ asset('frontOffice/js/jquery.slicknav.js') }}"></script>
<script src="{{ asset('frontOffice/js/owl.carousel.min.js') }}"></script>
<script src="{{ asset('frontOffice/js/main.js') }}"></script>
        {% endblock %}
    </head>
    <body>
        {% block body %}
        
        
        
        {% endblock %}
    </body>
</html>                   